.sidebarChat {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
}
.sidebarChat:hover {
  background-color: rgba(146, 146, 146, 0.8);
}

.sidebarChat > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.sidebarChat-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.sidebarChat-info > small {
  position: absolute;
  right: 0;
  bottom: -7px;
}

.sidebarChat-info > h3 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.sidebarChat-info > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 1.5rem;
  line-height: 1.5;
  margin-bottom: 8px;
}
